APP_ENV=development
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080
APP_LOCALE=en
APP_DEMO_MODE=true
APP_SESSION_NAME=nstructure_session

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nstructure
DB_USERNAME=nstructure
DB_PASSWORD=change_me
